/* LATERAL PANEL */

	.lateral-panel {
		width: 50%;
		margin: 20px;
	}

	.lateral-cube {
		margin-bottom: 10px;
		border-radius: 10px;
		transition: 0.25s;
		font-size: 14px;
		border: solid 1px black;
		width: 350px;
		background-color: #6B6B6B;
	}

	.lateral-cube:hover {
	    box-shadow: 1px 1px 5px 0px #2d2d2d;
		transition: 0.25s;
	}

	.lateral-title {
		background-color: #FFB600;
		border-bottom: solid 1px black;
		border-radius: 8px 8px 0px 0px;
		text-align: center;
		font-weight: bold;
		padding: 10px;
		font-size: 16px;
	}

	/* TOP COMMUNITIES */

		.top-communities {
			display: table;
			height: auto;
		}


		.top-community {
			padding: 0px;
		    text-align: center;
		    width: 33.3%;
		    display: inline-grid;
		    margin-bottom: 10px;
		}

		.top-community-logo {
			margin: 10px auto 10px auto;
			width: 50px;
			border: solid 1px black;
			border-radius: 50%;
			box-shadow: 1px 1px 5px 0px #2d2d2d;
		}

	/* USER ACTIONS */

		.user-actions {
			display: grid;
			text-align: center;
		}

		.user-actions a {
			padding: 10px 10px 10px 10px;
		}

		.user-actions a:not(:last-child) {
			border-bottom: solid 1px black;
		}

	/* LAST REPLIES */
		
		.last-reply {
			padding: 10px;
			display: block;
		    cursor: pointer;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    overflow: hidden;
		}

		.last-reply:not(:last-child) {
			border-bottom: solid 1px black;
		}

		.last-reply > div {
			font-size: 12px;
			font-weight: bold;
		}

	/* FORUM STATS */

		.forum-stats ul {
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			color: white;
			font-weight: bold;
		}