/* PROFILE PANEL */

    #userPanel {    height: auto;
                    width: 90%;
                    background-color: #2F2F2F;
                    margin: auto;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding: 20px;
                    position: relative;
                    display: flex;
                    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                    border: 2px solid black;
    }

    #userPanel > div >img { width: 256px;
                            height: 256px;
                            margin: auto;
                            border: 1px solid black;
                            vertical-align: middle;
                            background-color: white;

    }

    /* UPDATE FORM */

        #updatePanel {  float: right; 
                        width: auto;
                        text-align: center;
                        background-color: #4F4F4F;
                        padding: 30px;
                        border: 1px solid black;
                        border-collapse: collapse;
                        border-radius: 1em;
                        overflow: hidden;
        }

        #updatePanel > form > input {  text-align: center;
        }