/* THREAD BODY */

	#threadBody {	width: auto;
					height: 100%;
					background-color: #2F2F2F;
					margin: 10px 10px 0px 10px;
					border: solid 1px black;
					border-width: 1px 0px 1px 0px;
					border-radius: 3px;
	}

/* THREAD TITLE */

	#threadBody > h1 {	text-align: center;
						color: white;
						text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

/* THREAD MESSAGE */

	.threadMsg {	background-color: white;
					min-height: 200px;
					height: auto;
					width: auto;				
					margin: 3px 3px 3px 3px;
					border: 1px solid black;
	}

	/* MESSAGE INFO (DATE/ID) */

		.threadMsg > .msgInfo {	width: auto;
								height: 20px;
								padding-top: 5px;
								background-color: #6F6F6F;
								border: 1px solid black;
								border-width: 0px 0px 1px 0px;
								color: white;
								text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}

		/* TIME */

			.msgInfo > .msgTime {	float: left;
									margin-left: 5px;
			}

		/* ID */

			.msgInfo > .msgId {	float: right;
								margin-right: 5px;
								font-weight: bold;
			}

	/* MESSAGE BODY (USER/MESSAGE) */

		.threadMsg > .msgBody {	height: 100%;
								width: 100%;
								min-height: 200px;
		}

		/* USER INFORMATION */

			.userInfo {	width: 200px;
						height: auto;
						background-color: #4F4F4F;
						border: solid 1px black;
						border-width: 0px 2px 0px 0px;
						text-align: center;
						padding: 5px 0px 5px 0px;
						vertical-align: top;
						font-size: 13px;
						text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			}

			/* USER NAME */

				.userName {	font-weight: bold;
							font-size: 16px;
							margin-bottom: 30px;
				}

				.userName a {	text-decoration: none;
								color: white;
				}

				.userName a:hover {	color: #FF8C00;
				}

			/* USER PROFILE PICTURE */

				.userPic {	height: 128px;
							width: 128px;
							background-color: white;
							border: 1px solid black;
							margin: 10px 0px 10px 0px;
				}